api/.vs/
app/node_modules/
ui-tests/node_modules/
api/API.Web/obj/
api/API.Web/bin/
api/API.Test.Integration/obj/
api/API.Test.Integration/bin/
api/API.Test.EndToEnd/obj/
api/API.Test.EndToEnd/bin/
api/API.Infrastructure/obj/
api/API.Data/obj/
api/API.Infrastructure/bin/
api/API.Data/bin/
api/API.Core/obj/
api/API.Core/bin/
api/API.Web/localDatabase.db
api/API.Web/localDatabase.db-shm
api/API.Web/localDatabase.db-wal
api/API.Web/TestDatabase.db
